<!DOCTYPE html>
<html>
  <head>
    <title>Peerlist Profile README of <%= peerlistUsername %> | Created by vinitshahdeo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="description" 
    content="Profile Readme generator of Peerlist | Created by Vinit Shahdeo">
    <meta name="owner" content="Vinit Shahdeo">
    <meta name="email" content="vinitshahdeo@gmail.com">
    <meta name="copyright" content="Vinit Shahdeo 2022" />
    <meta name="twitter:creator" content="@Vinit_Shahdeo">
    <meta name="language" content="ES">
    <meta name="url" content="https://peerlist.io/tools/readme-badge">
    <meta name="identifier-URL" content="https://peerlist.io/tools/readme-badge">
    <!-- Open Graph Tags -->
    <meta name="og:title" content="Peerlist Readme Badge"/>
    <meta name="og:url" content="https://peerlist.io/tools/readme-badge"/>
    <meta name="og:description"
     content="Profile Readme generator of Peerlist | Created by Vinit Shahdeo"/>
  </head>
  <body>
    <a href="<%= peerlistProfileURL %>" target="_blank" />
      <img src="<%= peerlistBadgeURL %>"/>
    </a>
  </body>
  <!--
███    ███  █████  ██████  ███████     ██     ██ ██ ████████ ██   ██     ██       ██████  ██    ██ ███████ 
████  ████ ██   ██ ██   ██ ██          ██     ██ ██    ██    ██   ██     ██      ██    ██ ██    ██ ██      
██ ████ ██ ███████ ██   ██ █████       ██  █  ██ ██    ██    ███████     ██      ██    ██ ██    ██ █████   
██  ██  ██ ██   ██ ██   ██ ██          ██ ███ ██ ██    ██    ██   ██     ██      ██    ██  ██  ██  ██      
██      ██ ██   ██ ██████  ███████      ███ ███  ██    ██    ██   ██     ███████  ██████    ████   ███████ 
                                                                                                           
                                                                                                           
██████  ██    ██                                                                                           
██   ██  ██  ██                                                                                            
██████    ████                                                                                             
██   ██    ██                                                                                              
██████     ██                                                                                              
                                                                                                           
                                                                                                           
██    ██ ██ ███    ██ ██ ████████     ███████ ██   ██  █████  ██   ██ ██████  ███████  ██████              
██    ██ ██ ████   ██ ██    ██        ██      ██   ██ ██   ██ ██   ██ ██   ██ ██      ██    ██             
██    ██ ██ ██ ██  ██ ██    ██        ███████ ███████ ███████ ███████ ██   ██ █████   ██    ██             
 ██  ██  ██ ██  ██ ██ ██    ██             ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██    ██             
  ████   ██ ██   ████ ██    ██        ███████ ██   ██ ██   ██ ██   ██ ██████  ███████  ██████              
                                                                                                           
                                                                                                           
-->
 </html>

 
